{% extends 'base.html' %}

{% block subtitle %}Opere{% endblock %}

{% block main %}
    <div class="modal fade" id="filtersModal" tabindex="-1" aria-labelledby="filtersModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filtersModalLabel">Filtri</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="get" action="{% url 'index:media' %}">
                        <div class="mb-3" style="padding-left: 0; margin-right: 0">
                            <label for="_filter-name_">Cerca per nome:</label>
                            <input type="text" class="form-control" id="_filter-name_" name="name" value="{{ request.GET.q }}">
                        </div>
                        <div class="mb-3">
                            <label for="_filter-type_">Seleziona tipo:</label>
                            <select class="form-control" id="_filter-type_" name="type">
                                <option value="">Tutti</option>
                                <option value="vg">Videogioco</option>
                                <option value="f">Film</option>
                                <option value="tv">Serie TV</option>
                                <option value="a">Anime</option>
                            </select>
                        </div>
                        <div class="mb-3" style="padding-right: 0">
                            <label for="_filter-order-by_">Ordina per:</label>
                            <select class="form-control" id="_filter-order-by_" name="order_by">
                                <option value="recommended">Raccomandati</option>
                                <option value="name">Nome (A-Z)</option>
                                <option value="-name">Nome (Z-A)</option>
                                <option value="-users_vote">Voto utenti (decrescente)</option>
                                <option value="users_vote">Voto utenti (crescente)</option>
                                <option value="reviewers_vote">Voto recensori (decrescente)</option>
                                <option value="reviewers_vote">Voto recensori (crescente)</option>
                            </select>
                        </div>

                        {% comment %}<div class="mb-3">
                            <div class="form-check">
                                <label for="_filter-recommended_">Mostra solo raccomandati</label>
                                <input type="checkbox" name="recommended" id="_filter-recommended_" class="form-control form-check-input">
                            </div>
                        </div>{% endcomment %}
                        <input class="btn btn-secondary mb-3" type="reset" value="Ripristina filtri" style="width: 100%"><br>
                        <button class="btn btn-primary mb-3" type="submit" style="width: 100%">Cerca</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#filtersModal" style="width: 100%">
        Mostra filtri
    </button>



    {% if media %}
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 row-cols-md-5 g-5">
                    {% for data in media %}
                        <a href="{% url 'index:media_detail' data.id %}" style="text-decoration: inherit; color: inherit">
                            <div class="col" style="height: 100%;">
                                <div class="card shadow-sm" style="height: 100%;">
                                    {% if data.cover %}
                                        <img src="/media/{{ data.cover }}" alt="" style="object-fit: cover">
                                    {% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title">{{ data.name }}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">{{ data.get_media_type_display }}</h6>
                                        <div class="d-flex justify-content-between flex-column align-items-center">
                                            <small class="text-body-secondary">
                                                Voto recensori: {% if data.reviewers_vote %}{{ data.reviewers_vote|floatformat:1 }}{% else %}-{% endif %}/10
                                            </small>
                                            <small class="text-body-secondary">
                                                Voto utenti: {% if data.users_vote %}{{ data.users_vote|floatformat:1 }}{% else %}-{% endif %}/10
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <ul class="pagination">
                {% if media.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">Prima</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ media.previous_page_number }}">Precedente</a>
                    </li>
                {% endif %}

                <li class="page-item active">
                    <span class="page-link">{{ media.number }}</span>
                </li>

                {% if media.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ media.next_page_number }}{% for key, value in request.GET.items %}&{{ key }}={{ value }}{% endfor %}">Successiva</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ media.paginator.num_pages }}{% for key, value in request.GET.items %}&{{ key }}={{ value }}{% endfor %}">Ultima</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% else %}
        <h1>Nessuna opera presente</h1>
    {% endif %}

{% endblock %}