{% extends 'base.html' %}

{% block subtitle %}Opere{% endblock %}

{% block main %}
    <form class="row" method="get" action="{% url 'index:media' %}">
        <div class="col-md-4">
            <label for="_filter-name_">Cerca per nome:</label>
            <input type="text" class="form-control" id="_filter-name_" name="name" value="{{ request.GET.q }}">
        </div>
        <div class="col-md-4">
            <label for="_filter-type_">Seleziona tipo:</label>
            <select class="form-control" id="_filter-type_" name="type">
                <option value="">Tutti</option>
                <option value="vg">Videogioco</option>
                <option value="f">Film</option>
                <option value="tv">Serie TV</option>
                <option value="a">Anime</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="_filter-order-by_">Ordina per:</label>
            <select class="form-control" id="_filter-order-by_" name="order_by">
                <option value="name">Nome (A-Z)</option>
                <option value="-name">Nome (Z-A)</option>
                <option value="-users_vote">Voto utenti (decrescente)</option>
                <option value="users_vote">Voto utenti (crescente)</option>
                <option value="reviewers_vote">Voto recensori (decrescente)</option>
                <option value="reviewers_vote">Voto recensori (crescente)</option>
            </select>
        </div>
        <input class="btn btn-secondary" type="reset" value="Ripristina filtri" style="margin-top: 5px;">
        <button class="btn btn-primary" type="submit" style="margin-top: 5px;">Cerca</button>
    </form>

    {% if media %}
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 row-cols-md-5 g-5">
                    {% for data in media %}
                        <a href="{% url 'index:media_detail' data.id %}" style="text-decoration: inherit; color: inherit">
                            <div class="col" style="height: 100%;">
                                <div class="card shadow-sm" style="height: 100%;">
                                    {% if data.cover %}
                                        <img src="/media/{{ data.cover }}" alt="" style="object-fit: cover">
                                    {% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title">{{ data.name }}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">{{ data.get_media_type_display }}</h6>
                                        <div class="d-flex justify-content-between flex-column align-items-center">
                                            <small class="text-body-secondary">
                                                Voto recensori: {% if data.reviewers_vote %}{{ data.reviewers_vote|floatformat:1 }}{% else %}-{% endif %}/10
                                            </small>
                                            <small class="text-body-secondary">
                                                Voto utenti: {% if data.users_vote %}{{ data.users_vote|floatformat:1 }}{% else %}-{% endif %}/10
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <ul class="pagination">
                {% if media.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">Prima</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ media.previous_page_number }}">Precedente</a>
                    </li>
                {% endif %}

                <li class="page-item active">
                    <span class="page-link">{{ media.number }}</span>
                </li>

                {% if media.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ media.next_page_number }}">Successiva</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ media.paginator.num_pages }}">Ultima</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% else %}
        <h1>Nessuna opera presente</h1>
    {% endif %}

{% endblock %}